
/***** APP *****/
.App-container { 
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  align-items: center;
 }

/***** End App *****/
/***** Status container style *****/
.status-container{
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: center;
  flex-grow: 1;
}
/***** End status container *****/

/***** wrapper *****/
.wrapper { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

/***** End wrapper *****/
/***** card *****/
.card { 
  width: 250px;
  margin: 7px 
}
.card-total {
 color: rgb(0, 107, 180)
}
.card-active {
  color: rgb(0, 120, 113)
 }
.choix {
  padding: 12px;
  cursor: pointer;
  border: solid transparent;
}
  .choix:hover{
    border: solid red;
 }
 .levelhover:hover{
  border: solid red;
  background-color: #CCCCCC;
  text-transform: uppercase;
}
 .submitBtb{
  border: solid #3399CC;  
  text-transform: uppercase;
}
 .submitBtb:hover{
  border: solid green;  
  background-color: #339900;
  color:white;
  text-transform: uppercase;
}






.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.accordion-item {
  border-bottom: 1px solid #ccc;
}
.accordion-title {
  padding: 10px;
  cursor: pointer;
  background-color: #e0e0e0;
}
.accordion-title:hover {
  background-color: #e0e0e0a9;
}

.accordion-title:after {
  content: '\002B';
  color: #332c37;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion-title.active:after {
  content: "\2212";
  color: #a2224b;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion-content {
  padding: 10px;
}

 .card-disconnected {
  color: rgb(189, 39, 30)
 }
 .card-pending {
  color: rgb(254, 197, 20)
 }
 .card-total {
  color: rgb(100, 106, 119)
 }
/***** End card *****/
/***** form *****/
.submit {
 width: 400px 
}
/***** End form *****/
/***** Create-agent *****/

.create-agent{
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}

/***** End create-agent *****/

/***** error-page *****/
.error-page{
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 20px;
  justify-content: center;
  color: red
}
/***** End error-page *****/
/***** list-agents *****/
.list-agents{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 align-items: center;
  margin: 10px;
  justify-content: center;
}

.t-width {
  width: 90%
}
/***** End list-agents *****/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.active{
  border-bottom: 4px solid #61dafb;
}
.navbar {
  padding-bottom: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*  */

.wrapper2{
  display: flex;
  justify-content:space-between ;
  background-color: #edeceb;
  margin-top: 5px;
}
.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%
}
.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%
}
.question-text{
  background-color: white;
  margin-inline: 20px;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 20px;
}
.main{
  margin: 10px;
  background-color: gray;
  width: 900px;
  padding: 15px;
}
.question-img{
  margin-bottom:0px ;
  width: 100%;
  height: 450px
}

.btn-suivant {
  background-color: #008CBA; /* Green */
  border: 2px solid  #008CBA;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-suivant:hover{
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.btn-precedant {
  background-color:#555555; /* Green */
  border: 2px solid #555555; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-precedant:hover{
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.hvr{
  background-color:#d8d8d8;
  margin: 5px;
  border-radius: 15px;
  border: 2px solid #d8d8d8; 
}
.option-selected{
  background-color: red;
  text-transform: uppercase;
  border: 2px solid #f44336;
}
.hvr:hover{
  background-color: red;
  border: 2px solid #f44336;

}


@media screen and (min-width: 501px) {
  body {
   
    
  }
}

.label{
    height: 50px;
    padding: 10px;
    border-radius:20px ;
    background-color: gray;
    display: flex;
    justify-content:space-between ;
    margin-bottom: 5px;
  
}
.label:hover{
  background-color: red;

}
/*  */

