
/***** APP *****/
.App-container { 
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
 }

/***** End App *****/
/***** Status container style *****/
.status-container{
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: center;
  flex-grow: 1;
}
/***** End status container *****/

/***** wrapper *****/
.wrapper { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

/***** End wrapper *****/
/***** card *****/
.card { 
  width: 250px;
  margin: 7px 
}
.card-total {
 color: rgb(0, 107, 180)
}
.card-active {
  color: rgb(0, 120, 113)
 }
 .card-disconnected {
  color: rgb(189, 39, 30)
 }
 .card-pending {
  color: rgb(254, 197, 20)
 }
 .card-total {
  color: rgb(100, 106, 119)
 }
/***** End card *****/
/***** form *****/
.submit {
 width: 400px 
}
/***** End form *****/
/***** Create-agent *****/

.create-agent{
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}

/***** End create-agent *****/

/***** error-page *****/
.error-page{
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 20px;
  justify-content: center;
  color: red
}
/***** End error-page *****/
/***** list-agents *****/
.list-agents{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 align-items: center;
  margin: 10px;
  justify-content: center;
}

.t-width {
  width: 90%
}
/***** End list-agents *****/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.active{
  border-bottom: 4px solid #61dafb;
}
.navbar {
  padding-bottom: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
